# Bicep build outputs
tests/iac/*.json

# Don't ignore parameter files
!tests/iac/*.parameters.json

# Don't ignore bicepconfig
!tests/iac/bicepconfig.json

# Pester test results
TestResults.xml
coverage.xml
.build-test/**/*
tests/security/temp-git-test-*/**/*
